body{
    background-color:#F6F8F9;
    margin: auto 0;
    font-family: 'Roboto', sans-serif;
}

/*--------------------------------
   Header
----------------------------------*/

.header{
    background-color: white;
    height: 90px;
    border-top: 1px solid lightgray;
    padding: 0px 20px;
    
}
.titolo{
    display: inline-block;
    vertical-align: middle;
    font-size: 2.5em;
    font-weight: bolder;
}
.logo{
    vertical-align: middle;
}

/*--------------------------------
  Fine   Header
----------------------------------*/

/*--------------------------------
  Main Uno
----------------------------------*/

.contenitore{
    background-color: white;
    margin: 50px 300px 10px 170px;
    border-radius: 10px;
    font-size: 1.3em;
}

.divisore-uno{
    height: 40px;
    padding-top: 20px;
    padding-left: 70px;
    border: 2px solid #F6F8F9;
}

.bottoni{
    padding: 7px;
    margin-right: 3px;
    border-radius: 7px;
    border: 0;
}

#blue{
    background-color: #47ADF1;
    color: white;
}

#bianco{
    background-color:white;
    color: #C8CED3;
    border: 0.5px solid #C8CED3;
}

/*--------------------------------
  Main Uno Fine
----------------------------------*/

/*--------------------------------
  Main Due 
  
----------------------------------*/

.divisore-due{
    padding-left:30px;
    padding-bottom: 70px;
}

.list{
    list-style: none;
    font-weight: bolder;
    padding-left: 0;
}

.list::before{
    content: '\25BC';
}

.item{
    list-style: none;
    padding-left: 0;
    padding-top: 10px;
}


.list-item{
    display: inline;
    list-style: none;
    font-weight: normal;
    vertical-align: middle;
    padding: 5px 0 5px ;
}

.list-item::before{
    content:'\2713' ;
    border: 1px solid rgb(14, 202, 14);
    border-radius: 50%;
    color:rgb(14, 202, 14);
    text-align: center;
}
.special-item{
    display: inline;
    list-style: none;
    font-weight: normal;
}

.special-item::before{
    content:'\2717' ;
    border: 1px solid red;
    border-radius: 50%;
    color: red;
    text-align: center;
}

.blocco{
    background-color: #47ADF1;
    color: white;
    border-radius: 16px;
    font-size: 13px;
    padding: 2px 10px;
    margin-left: 10px;
    vertical-align: middle;
}

#viola{
    background-color: #9C72E4 ;
}

#blue{
    background-color: #65C1AA ;
}

#orange{
    background-color:#F29E33 ;
}

#rosa{
    background-color:#D863A1  ;
}

#verde{
    background-color: #B0C926;
}

/*--------------------------------
  Main Due Fine
   
----------------------------------*/

/**/