body{
    background-color:#F6F8F9;
    margin: auto 0;
}

/*--------------------------------
   Header
----------------------------------*/

.header{
    background-color: white;
    height: 90px;
    border-top: 1px solid lightgray;
    padding: 0px 20px;
    
}
.titolo{
    display: inline-block;
    vertical-align: middle;
    font-size: 2.5em;
}
.logo{
    vertical-align: middle;
}

/*--------------------------------
  Fine   Header
----------------------------------*/

/*--------------------------------
  Main Uno
----------------------------------*/

.contenitore{
    background-color: white;
    height: 900px;
    margin: 50px 100px 10px 100px;
    border-radius: 10px;
}

.divisore-uno{
    height: 40px;
    padding-top: 20px;
    padding-left: 70px;
    border: 1px solid #F6F8F9;
}

.bottoni{
    padding: 7px;
    margin-right: 3px;
    border-radius: 4px;
    border: 0;
}

#blue{
    background-color: #47ADF1;
    color: white;
}

#bianco{
    background-color:white;
    color: #C8CED3;
    border: 0.5px solid #C8CED3;
}

/*--------------------------------
  Main Uno Fine
----------------------------------*/
